# -*- coding: utf-8 -*-

baseurl = "https://localhost"

COOKIENAME = 'oicscr'
COOKIETTL = 4 * 60  # 4 hours
SYM_KEY = "SoLittleTime,Got"

SERVER_CERT = "certs/server.crt"
SERVER_KEY = "certs/server.key"
#CERT_CHAIN="certs/chain.pem"
CERT_CHAIN = None

CLIENT_DB = "client_db.db"
